#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

.section-squares, .section-pills {
  display: flex;
  align-items:start;
  justify-content: flex-end;
  gap: 1em;
}


h1 {
  font-size: 3.2em;
  font-family: 'Permanent Marker', cursive;
  line-height: 1.1;
}

h2 {
  font-family: 'Permanent Marker', cursive;
  color: #5E5D5D;

}

button {
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
}

.p-variant {
  font-size:0.6rem;
  margin-bottom: 0.3em;
  color: #5E5D5D;
  text-align: left;
}

button.button-square {
  border-radius: 6px;
}

button.button-pill {
  border-radius: 2em;
}

button.button-gray {
  background-color: #F3F4F6;
  color:#1F2937;
}

button.button-red {
  background-color: #FEE2E2;
  color:#991B1B;
}

button.button-yellow {
  background-color: #FEF3C7;
  color:#92400E;
}

button.button-green {
  background-color: #D1FAE5;
  color:#065F46;
}

button.button-blue {
  background-color: #DBEAFE;
  color:#1E40AF;
}

button.button-indigo {
  background-color: #E0E7FF;
  color:#3730A3;
}

button.button-purple {
  background-color: #EDE9FE;
  color:#5B21B6;
}

button.button-pink {
  background-color: #FCE7F3;
  color:#9D174D;
}

/**
* Banner Styles
*/
.section-banners {
  display: grid;
  grid-template-columns: auto 3fr 2fr;
  align-items: end;
  gap:1.4em;
}

.h2-banner {
  text-align: left;
}

.h2-variant-banner {
  align-self: center;
}

.banner {
  padding: 0 1em 0.3em;
  border-radius: 6px;
  font-size:0.8rem;
}

.div-banner {
  display: grid;
  grid-template-columns: 20px auto;

}

.success, .warning, .error, .neutral {
  align-self: center;
}
.success {
  color: #34D399;
}

.warning {
  color: #FBBF24;
}

.error {
  color: #F87171;
}

.neutral {
  color: #60A5FA;
}

.p-title {
  text-align: left;
}

.p-description {
  margin-top: 0;
  text-align: left;
  margin-left: 1.6em;
  grid-column: span 2;
}

.text-success {
  color: #047857;
}

.text-warning, .text-error{
  color: #B45309;
}

.text-neutral {
  color: #1C51B9;
}

.banner.banner-success {
 background-color: #ECFDF5;
 color: #065F46;
}

.banner.banner-warning {
  background-color: #FFFBEB;
  color: #92400E;
}

.banner.banner-error {
  background-color: #FEF2F2;
  color: #92400E;
}

.banner.banner-neutral {
  background-color: #EFF6FF;
  color:#1E40AF;
}
